ENV_TYPE = TEST || PRODUCTION || DEVELOPMENT

DATABASE_URL="modelOfDatabase://login:password@localhost:5432/nameDatabase"
JWT_SECRET="jwtSecret"

ADMIN_NAME="NameOfAdmin"
ADMIN_EMAIL="emailOfAdmin@gmail.com"
ADMIN_PASSWORD="passwordOfAdmin"
ADMIN_DISCORD_ID="discordIdOfAdmin"